.header {
  margin-top: 5px;
  text-align: center;
}

.name {
  margin: 0;
  color: var(--opposite-color);
  font-family: Varela Round, Helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: 0px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 34px;
}

.sub-name {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray-color);
}

.brands {
  margin-bottom: -8px;
  margin-top: -14px;
}

.brands i {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  font-size: 20px;
  line-height: 43px;
  cursor: pointer;
  color: var(--sub-gray-color);
}

.brands i:hover {
  color: rebeccapurple;
}
