.input {
  background: var(--opposite-color);
  border: 0;
  /* border: 1px solid var(--opposite-color); */
  border-radius: 5px;
  font-size: 24px;
  padding: 8px;
  width: 100%;
}

.input_container {
  margin-top: 4px;
}

.label {
  font-size: 24px;
  width: 100%;
  margin-bottom: 20px
}

.label+div {
  margin-bottom: 20px;
}

.form {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray-color);
  text-align: left;
}

.input_group {
  margin-bottom: 20px;
}

.button {
  font-size: 24px;
  margin-top: 20px;
}

.icon {
  font-size: 32px;
  cursor: pointer;
  color: brown;
}

.attach {
  border-radius: 2px;
  border: 2px dashed;
  cursor: pointer;
  margin-top: 8px;
  padding-top: 23px;
  padding-left: 23px;

}

.attach_label {
  font-size: 24px;
}

.attach input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}